body {
  align-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  margin:center;
}

h1 {
  margin-bottom: 20px;
  color: #514869;

 
}

h2 {
  color: #514869;
  margin-top: 40px;
 
}

input[type="text"],
input[type="email"] {

  margin-bottom: 20px;
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: rgb(244, 245, 247);
  font-size: 12pt;
  box-shadow: 0px 10px 40px #2d2a2a56;
  outline: none;
  box-sizing: border-box;
  
}

button {
  margin-top: 20%;
  width: center;
  padding: 15px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 8px;
  color: #ddd8e3;
  background: #2c2e2d ;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #c5cece52;
}

div{
  background-color: #6b326f;
  width: block;
  margin: auto;
  border-radius: 8px;
}